 <div class="container mt-4">
  <div class="d-flex align-items-center justify-content-center mt-2">
    <%= f.label :start_time, "開始時刻", class: "col-sm-2 col-form-label" %>
    <div class="col-md-4">
      <%= f.time_field :start_time, class: "form-control" %>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center mt-2">
    <%= f.label :end_time, "終了時刻", class: "col-sm-2 col-form-label" %>
    <div class="col-md-4">
      <%= f.time_field :end_time, class: "form-control" %>
    </div>
  </div>
</div>
